APP_ENV=
PORT=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Logging Elastic Search
LOG_LEVEL=
ES_URL=
ES_USER=
ES_PASS=
ES_ENABLED=

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

KIBANA_URL_SA=

VA_PREFIX=8808
VA_EXPIRED_HOURS=24

BASIC_AUTH_USERNAME=
BASIC_AUTH_PASSWORD=